---
import type { ICar } from "@/db/models";

interface Props {
    car: ICar;
}

const { car } = Astro.props;
---

<section class="car-info">
    <h2>Información del Auto</h2>
    <ul>
        <li><strong>Modelo:</strong> {car.model}</li>
        <li><strong>Descripción:</strong> {car.description}</li>
        <li>
            <strong>Usado:</strong>
            {car.is_used ? "Sí" : "No"}
        </li>
    </ul>
</section>

<style>
    .car-info {
        margin-bottom: 20px;
    }

    .car-info h2 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
        font-size: 1rem;
        color: #666;
    }

    strong {
        color: #333;
    }
</style>
