---
import "normalize.css";
import "../styles/main.scss";
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";

import { SITEWEB_DESCRIPTION, SITEWEB_TITLE } from "../config";
import Navbar from "@/components/Navbar.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<Head
			title={title ?? SITEWEB_TITLE}
			description={description ?? SITEWEB_DESCRIPTION}
		/>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
